 
  {% extends 'base.html' %}

  {% block title %}Unternehmen{% endblock %}

  {% block content %}

  <p>Unternehmen Übersicht</p>


  <form action="/unternehmen" method="POST">
    <button type="submit" name="action" value="form" class="btn btn-primary">Hinzufügen</button>
  </form> 

  <table class="table table-striped table-bordered table-sm" id="datatable">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">PLZ</th>
        <th class="text-center">Stadt</th>
        <th class="text-center">Fon</th>
        <th class="text-center">Gewerke</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      {% for field in data %}
      <tr>
        <td>{{ field.name }}</td>
        <td>{{ field.adr_plz }}</td>
        <td>{{ field.adr_stadt }}</td>
        <td>{{ field.con_fon }}</td>
        <td>{{ field.gewerke }}</td>
        <td><a href="?action=edit&id={{ field.id }}" style="color: #6060da">Bearbeiten</a></td>
        <td><a href="?action=delete&id={{ field.id }}" style="color: #da6060">Löschen</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
