 
  {% extends 'base.html' %}

  {% block title %}Gewerke{% endblock %}

  {% block content %}

    <h1>Hinzufügen</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% for field, messages in form.errors.items() %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          Fehler: {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <form action="/gewerke" method="POST" role="form">
      <div class="input-groud-mb3">
        <div class="form-group col-md-6">
          {{ form.index.label }}
          {{ form.index }}
        </div>
        <div class="form-group col-md-6">
          {{ form.titel.label }}
          {{ form.titel }}
        </div>
          {{ form.id }}
          <input type="hidden" name="action" value="add">
          {{ form.submit }}
      </div>
    </form>

  {% endblock %}
