 
  {% extends 'base.html' %}

  {% block title %}Gewerke{% endblock %}

  {% block content %}

  <p>Gewerke Übersicht</p>


  <form action="/gewerke/add">
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </form> 

  <table class="table table-striped table-bordered table-sm" id="datatable">
    <thead>
      <tr>
        <th class="text-center">Index</th>
        <th class="text-center">Name</th>
        <th class="text-center"></th>
        <th class="text-center"></th>

      </tr>
    </thead>
    <tbody>
      {% for field in data %}
      <tr>
        <td>{{ field._index }}</td>
        <td>{{ field.name }}</td>
        <td><a href="?action=edit&id={{ field._id }}" style="color: #6060da">Bearbeiten</a></td>
        <td><a href="?action=delete&id={{ field._id }}" style="color: #da6060">Löschen</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
