 
  {% extends 'base.html' %}

  {% block title %}Gewerke{% endblock %}

  {% block content %}

  <p>Gewerke Übersicht</p>


  <form action="/kalkulation" method="get">
    <button name="action" type="submit" value="add_row" class="btn btn-primary">Hinzufügen</button>
  </form> 

  <table class="table table-striped table-bordered table-sm" id="datatable">
    <thead>
      <tr>
        <th class="text-center">id</th>
        <th class="text-center">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for field in data %}
      <tr>
        <td>{{ field._id }}</td>
        <td>{{ field.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
